<div class="auth-home-module">
  <!-- block -->
  <div class="block1">
    <div class="logo">Code Review</div>
    <div class="btns">
      <md-button class="registerBtn lc-btn" ng-click="showRegisterModel()">{{i18n.auth.register}}</md-button>
      <md-button class="loginBtn lc-btn md-raised light">{{i18n.auth.login}}</md-button>
    </div>
  </div>
  <!-- block end -->

  <div class="reviewer" ng-repeat="reviewer in reviewers">
    <div class="reviewer-image">
      <a target="_blank" herf="">
        <img ng-src="{{reviewer.logo.url}}">

        <div class="reviewer-detail">
          <a class="reviewer-name">{{reviewer.name}}</a>

          <div class="reviewer-description">{{reviewer.desc}}</div>
        </div>
      </a>
    </div>
  </div>

  <div class="sample-image">
    <a target="_blank" href="https://github.com/lilei644/LLBootstrapButton/issues/1">
      <img src="../../../assets/sample.png">
    </a>
  </div>

</div>

<!-- Modals -->
<div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-register-label">Register</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
